# Disable directory listing
Options -Indexes

# Enable directory index
DirectoryIndex index.php

RewriteEngine On

# Redirect all requests to Laravel's index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
